<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267570389645-2cgtut6rrgojgnq5ubnrn73cqqpjq4ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267570389645-2cgtut6rrgojgnq5ubnrn73cqqpjq4ks</string>
	<key>API_KEY</key>
	<string>AIzaSyCtshla60zKfLp7BEg3sRKIittXkXCV_fM</string>
	<key>GCM_SENDER_ID</key>
	<string>267570389645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-1396b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-1396b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267570389645:ios:40353dd1d0edf3aaacf8c4</string>
</dict>
</plist>